

#bottom{
	background-color: lightgray;
	margin-top: 30px;
}

#restart-game{
	margin: 5em;
	font-size: 30px;
}
.jumbotron {
    background-color: #32CD32 ;
    color: #fff;
    padding: 20px 25px;
    font-family: ;
  }
  img{
  	max-height: 150px;


  }

  .heading{
  	padding-right: 1.3em;
  }

  button{
  	font-size: 20px;
  	border-radius: 8px;
  	background-color: black;
  	color: white;
  	border: 3px solid limegreen;
  }